body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #a8c8e4;
  color: white;
}

.main-menu {
  padding: 30px;
  text-align: center;
}

.title {
  font-size: 96px;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 2px;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 75%;
  flex-direction: row;
  margin-inline: auto;
}

/* Panels */
.panel {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  text-align: left;
  width: 30%;
  min-width: 275px;
}

/* How To Play Panel */
.how-to-play h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.how-to-play ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
}

.how-to-play li {
  margin-bottom: 12px;
}

.how-to-play li::before {
  content: "-";
  margin-right: 8px;
  color: white;
}

/* Username and buttons */
.user-panel {
  text-align: center;
}

.user-panel label {
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
}

.user-panel input {
  width: 80%;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-family: inherit;
}

.user-panel button {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 25px;
  background-color: #cfe3b4;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-inline: auto;
}

.user-panel button:hover {
  background-color: #b4d393;
}

/* Wizard Panel */
.wizard-panel h2 {
  text-align: center;
  font-weight: bold;
}

.wizard-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.wizard {
  width: 64px;
  height: 64px;
  cursor: pointer;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.wizard.selected {
  border-color: black;
  background-color: white;
}

.wizard-summary {
  border: 1px solid white;
  padding: 10px;
  font-size: 18px;
}

.wizard-summary .quote {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 350px;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #222;
}

.modal input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 80%;
  margin-top: 1rem;
}

.modal-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 90px;
}

.modal-enter {
  background-color: #6aaa64;
}
.modal-cancel {
  background-color: #e74c3c;
}
